@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="StaffID" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Personel Unvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Facebook Adresi</label>
    <input type="text" asp-for="StaffFace" class="form-control" />
    <br />

    <label>Twitter Adresi</label>
    <input type="text" asp-for="StaffTwitter" class="form-control" />
    <br />

    <label>Instagram Adresi</label>
    <input type="text" asp-for="StaffInstagram" class="form-control" />
    <br />
    <button class="btn btn-outline-success">Personel Güncelle</button>
</form>